services:
  stocknews:
    container_name: stocknews
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - path: .env
    restart: unless-stopped

  redis:
    container_name: redis
    image: docker.io/library/redis:alpine@sha256:28c9c4d7596949a24b183eaaab6455f8e5d55ecbf72d02ff5e2c17fe72671d31
    restart: unless-stopped
